<!doctype html>
<html>
<head>
<title>{% block title %}{{ app_name }}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Robots" content="NoIndex, NoFollow" />
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" id="Stylesheet_jQueryUI" rel="stylesheet" type="text/css" />
{% block head %}
<style type="text/css">
#progress {
    backgroun-color: black;
    color: white;
    width: 100%;
}
</style>
<!-- Head stuff goes here. -->
{% endblock %}
</head>
<body>
{% block main %}
<!-- Body stuff goes here. -->
{% endblock %}
</body>
</html>
