<!doctype html>
<html>
<head>
<title>{{ app_name }} | {% block title %}Front Page{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Robots" content="NoIndex, NoFollow" />
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" id="Stylesheet_jQueryUI" rel="stylesheet" type="text/css" />
{% block head %}<!-- head things go here. -->{% endblock %}
</head>
<body>
<h1>Welcome to the Jukebox</h1>
{% if app.track %}
<h2>Now playing: {{ app.track.title|escape }}</h2>
{% if app.track.artists %}
<p><a href="/lyrics/{{ app.track.artists[0].name|urlencode }}/{{ app.track.title|urlencode }}" target="_blank">Lyrics</a></p>
{% endif %}
<h3>Album: {{ app.track.album|format_album }}</h3>
<h3>By</h3>
{% for artist in app.track.artists %}
{{ artist|format_artist }}
{% endfor %}
{% else %}
<h2>Nothing playing</h2>
{% endif %}
<hr>
<h1>Menu</h1>
<p><a href="/">Home</a> | <a href="/queue">View the queue</a></p>
{% block main %}<! -- Body stuff goes here. -->{% endblock %}
<hr>
<p>Queue length: {% if duration %}{{ duration|format_timedelta }}{% else %}0 seconds{% endif %} ({{ app.queue|length }} {% if app.queue|length == 1 %}track{% else %}tracks{% endif %}).</p>
</body>
</html>
