{% extends 'base.html' %}
{% block head %}
<script id="Script_jQuery" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js" type="text/javascript"></script>
<script id="Script_jQueryUI" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<script id="Script_JsRender" src="//cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.75/jsrender.min.js" type="text/javascript"></script>
<script id="main">
// Sort out results.
function fix_links() {
    $(".track-skip").click(function(e) {
        e.preventDefault()
        $.get("/skip")
    }).removeClass("track-skip")
    $(".track-delete").click(function(e) {
        e.preventDefault()
        $.get("/delete_track/" + this.id)
    }).removeClass("track-delete")
    $(".track-queue").click(function(e) {
        e.preventDefault()
        $.get("/queue_track/" + this.id)
    }).removeClass("track-queue")
    $(".track-artist").click(function(e) {
        e.preventDefault()
        $.get("/artist/" + this.id)
    }).removeClass("track-artist")
    $(".track-album").click(function(e) {
        e.preventDefault()
        $.get("/album/" + this.id)
    }).removeClass("track-album")
    $(".playlist-link").click(function(e) {
        e.preventDefault()
        $.get("/playlist/" + this.id)
    }).removeClass("playlist-link")
}

// Old search results.
old_now_playing = null
old_tracks = []
old_artists = []
old_albums = []
old_playlists = []
old_message = null
old_tracks_header = null
old_artist = null
old_album = null
old_playlist = null
old_queue = null
loading = false

$(document).ready(function () {
    $(".hidden").hide()
    $("#message_button").click(function() {
        $("#message").hide()
    })
    $(".toggle").click(function(e) {
        e.preventDefault()
        $("." + this.id).toggle()
    })
    $("#search_form").submit(function (e) {
        e.preventDefault()
        var search = $("#search").val()
        if (search) {
            $("#search").val("")
            $.get(encodeURI("/modern_search/" + search))
        } else {
            alert("You must enter something to search for.")
        }
    })
    setInterval(function() {
        if (!loading) {
            loading = true
            $.getJSON("/json", function(data) {
                if (data.message && data.message != old_message) {
                    old_message = data.message
                    $("#message").show()
                    setTimeout(function() {
                        $("#message_content").text(data.message)
                    }, 10)
                }
                if (data.now_playing != old_now_playing) {
                    old_now_playing = data.now_playing
                    $("#now_playing").html(data.now_playing)
                }
                $("#progress").progressbar({value: data.progress}).text(data.progress)
                if (data.tracks_header != old_tracks_header) {
                    old_tracks_header = data.tracks_header
                    $("#tracks_header").text(data.tracks_header)
                }
                if (data.tracks != old_tracks) {
                    old_tracks = data.tracks
                    $("#track_results").html(data.tracks)
                }
                if (data.artists != old_artists) {
                    old_artists = data.artists
                    $("#artist_results").html(data.artists)
                }
                if (data.albums != old_albums) {
                    old_albums = data.albums
                    $("#album_results").html(data.albums)
                }
                if (data.playlists != old_playlists) {
                    old_playlists = data.playlists
                    $("#playlist_results").html(data.playlists)
                }
                if (data.artist != old_artist) {
                    if (data.artist) {
                        old_artist = data.artist
                        $("#artist-content").html(data.artist)
                        $("#artist").show()
                    } else {
                        $("#artist").hide()
                    }
                }
                if (data.album != old_album) {
                    if (data.album) {
                        old_album = data.album
                        $("#album-content").html(data.album)
                        $("#album").show()
                    } else {
                        $("#album").hide()
                    }
                }
                if (data.playlist != old_playlist) {
                    if (data.playlist) {
                        old_playlist = data.playlist
                        $("#playlist-content").html(data.playlist)
                        $("#playlist").show()
                    } else {
                        $("#playlist").hide()
                    }
                }
                if (data.queue != old_queue) {
                    old_queue = data.queue
                    $("#track_queue").html(data.queue)
                }
            fix_links()
            loading = false
        })
        }
    }, 100)
})
</script>
{% endblock %}
{% block main %}
<h1>Welcome to the jukebox</h1>
<p class="hidden" id="message"><span id="message_content" aria-live="polite">No message yet.</span> <input type="button" id="message_button" value="OK"></p>
<div class="toggle" id="now_playing_div"><h2>Now Playing</h2></div>
<div class="now_playing_div">
<div id="now_playing">Loading...</div>
</div>
<div id="progress">Track Progress</div>
<hr>
{% for id in ['artist', 'album', 'playlist'] %}
<div class="hidden" id="{{ id }}">
<h3>{{ id|title }}</h3>
<div id="{{ id }}-content"></div>
</div>
{% endfor %}
<h1>Search</h1>
<form id="search_form">
<p>Search: {{ form.search }}</p>
<p><input type="submit" value="Search"></p>
</form>
<div class="toggle" id="tracks"><h2 id="tracks_header">Loading...</h2></div>
<div class="tracks" id="track_results">Loading...</div>
<div class="toggle" id="artists"><h2>Artist Results</h2></div>
<div class="artists" id="artist_results">Loading...</div>
<div class="toggle" id="albums"><h2>Album Results</h2></div>
<div class="albums" id="album_results">Loading...</div>
<div class="toggle" id="playlists"><h2>Playlist Results</h2></div>
<div class="playlists" id="playlist_results">Loading...</div>
<div class="toggle" id="queue"><h2>Play Queue</h2></div>
<div class="hidden queue" id="track_queue">Loading...</div>
{% endblock %}
