{% extends 'base.html' %}
{% block title %}{% if artist %}{{ artist.name|escape }}{% elif album %}{% if album.artists %}{{ album.artists[0].name|escape }}{% else %}Unknown Artist{% endif %} - {{ album.name|escape }}{% elif settings.tracks %}Search Results{% else %}Index{% endif %}{% endblock %}
{% block main %}
{% if artist %}
<h3>Artist</h3>
{{ artist|format_artist }}
<h3>Top Tracks ({{artist.top_tracks|length }})</h3>
{% if artist.top_tracks %}
{{ tracks_table_header }}
{% for track in artist.top_tracks %}
{{ track|format_track }}
{% endfor %}
{{ table_footer }}
{% else %}
<p>No top tracks to display.</p>
{% endif %}
<h3>Albums ({{ artist.albums|length }})</h3>
{% if artist.albums %}
<ul>
{% for album in artist.albums %}
<li>{{ album|format_album }}</li>
{% endfor %}
</ul>
{% else %}
<p>No albums to display.</p>
{% endif %}
<h3>Related Artists ({{ artist.related_artists|length }})</h3>
{% if artist.related_artists %}
<ul>
{% for related_artist in artist.related_artists %}
<li>{{ related_artist|format_artist }}</li>
{% endfor %}
</ul>
{% else %}
<p>No related artists to display.</p>
{% endif %}
{% endif %}
<h2>Search</h2>
<form action="/" method="post">
{% for field in form %}
<p>{{ field }}</p>
{% endfor %}
<p><input type="submit" value="Search"></p>
</form>
<h2>{% if album %}{{ album.name|escape }}{% else %}Track Results{% endif %} ({{ settings.tracks | length }})</h2>
{% if album %}
<ul>
{% for artist in album.artists %}
<li>{{ artist|format_artist }}</li>
{% endfor %}
</ul>
{% endif %}
{% if settings.tracks %}
{{ tracks_table_header }}
{% for track in settings.tracks %}
{{ track|format_track }}
{% endfor %}
{{ table_footer }}
{% endif %}
{% if settings.artists %}
<h2>Artist Results ({{ settings.artists|length }})</h2>
<ul>
{% for artist in settings.artists %}
<li>{{ artist|format_artist }}</li>
{% endfor %}
</ul>
{% endif %}
{% if settings.albums %}
<h2>Album Results ({{ settings.albums|length }})</h2>
<ul>
{% for album in settings.albums %}
<li>{{ album|format_album }},/li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
